html {
  font-size: 62.5%; /*root font size is 16px, so this is 10px to use rem easier but accessiblity needs to be looked at because users can change their font size*/
}

* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  width: 100vw;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top left, #28b487, #1e201e);
}

h1,
h2 {
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: 5rem;
  width: 100%;
  padding: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

/*---------------Buttons grid --------------------*/
.button_container {
  height: 33%;
  width: 100vw;
  display: grid;
  /* grid-template-columns: repeat(7, auto);
  grid-template-rows: auto auto auto; */
  grid-template-areas:
    'header_ffso header_ffso header_ffso . header_rfso header_rfso header_rfso' /*7 columns*/
    'nozzle_option_ffso_1 nozzle_option_ffso_2 nozzle_option_ffso_3 . nozzle_option_rfso_1 nozzle_option_rfso_2 nozzle_option_rfso_3' /*7 columns*/
    'nozzle_option_ffso_4 nozzle_option_ffso_5 nozzle_option_ffso_6 . nozzle_option_rfso_4 nozzle_option_rfso_5 nozzle_option_rfso_6' /*7 columns*/
    'nozzle_option_ffso_7 nozzle_option_ffso_8 nozzle_option_ffso_9 . nozzle_option_rfso_7 nozzle_option_rfso_8 nozzle_option_rfso_9'; /*7 columns*/

  column-gap: 10px;
  row-gap: 10px;
  /* display: flex;
  flex-direction: row; */
  align-items: stretch;
  justify-content: stretch;
  padding: 0px 100px;
}

.heading_ffso {
  grid-area: header_ffso;
  justify-self: center;
  align-self: center;
}

.heading_rfso {
  grid-area: header_rfso;
  justify-self: center;
  align-self: center;
}

button {
  width: 100%;
  height: 100%;
  /* margin: 10px 5px; */
  border-radius: 1.5rem;
  border-style: hidden;
}

.nozzle_ffso_button_1 {
  grid-area: nozzle_option_ffso_1;
}

.nozzle_ffso_button_2 {
  grid-area: nozzle_option_ffso_2;
}

.nozzle_ffso_button_3 {
  grid-area: nozzle_option_ffso_3;
}

.nozzle_ffso_button_4 {
  grid-area: nozzle_option_ffso_4;
}

.nozzle_ffso_button_5 {
  grid-area: nozzle_option_ffso_5;
}
.nozzle_ffso_button_6 {
  grid-area: nozzle_option_ffso_6;
}
.nozzle_ffso_button_7 {
  grid-area: nozzle_option_ffso_7;
}
.nozzle_ffso_button_8 {
  grid-area: nozzle_option_ffso_8;
}
.nozzle_ffso_button_9 {
  grid-area: nozzle_option_ffso_9;
}

.nozzle_rfso_button_1 {
  grid-area: nozzle_option_rfso_1;
}

.nozzle_rfso_button_2 {
  grid-area: nozzle_option_rfso_2;
}

.nozzle_rfso_button_3 {
  grid-area: nozzle_option_rfso_3;
}

.nozzle_rfso_button_4 {
  grid-area: nozzle_option_rfso_4;
}

.nozzle_rfso_button_5 {
  grid-area: nozzle_option_rfso_5;
}
.nozzle_rfso_button_6 {
  grid-area: nozzle_option_rfso_6;
}
.nozzle_rfso_button_7 {
  grid-area: nozzle_option_rfso_7;
}
.nozzle_rfso_button_8 {
  grid-area: nozzle_option_rfso_8;
}
.nozzle_rfso_button_9 {
  grid-area: nozzle_option_rfso_9;
}

/*---------------parts list grid --------------------*/
.parts_list_container {
  height: 33%;
  width: 90vw;
  display: grid;
  grid-template-columns: 5% 20% 5% auto 5%; /*5 columns*/
  grid-auto-rows: 10%;
  grid-template-areas:
    'item_order part_number qty description paint'
    'item_1 item_2 item_3 item_4 item_5';
  grid-auto-flow: row;

  column-gap: 10px;
  row-gap: 10px;
  /* display: flex;
  flex-direction: row; */
  align-items: stretch;
  justify-content: stretch;
  margin: 20px 0px;
  padding: 0px 100px;
  border: 3px solid black;
  background-color: gray;
}

.header_item_1,
.header_item_2,
.header_item_3,
.header_item_4,
.header_item_5 {
  justify-self: center;
  align-self: center;
  font-size: 25px;
  color: white;
}

.header_item_1 {
  grid-area: item_order;
}
.header_item_2 {
  grid-area: part_number;
}
.header_item_3 {
  grid-area: qty;
}
.header_item_4 {
  grid-area: description;
}

.header_item_5 {
  grid-area: paint;
}

.items {
  justify-self: center;
  align-self: center;
  font-size: 18px;
  color: black;
}
